.Footer-container{
    padding: 0 70px;

}
.email-container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'montserrat';
        font-size: 1.7vw;
        height: 180px;
        border-bottom: 2px solid var(--para-color);
        padding-bottom: 20px;
    }
    .email-content{
        width: 50%;
    }
.email-input input{
    font-family: 'montserrat';
    width: 500px;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.2);
    outline: none;
}
.email-input button{
    width: 100px;
    height: 40px;
    
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, var(--primary-color),var(--secondary-color));
    font-family: 'montserrat';
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-left: -100px;
    padding-bottom: 2px;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.2);
}


.Footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-brand-container{
    width: 30%;
    margin: 40px 0;
}
.footer-brand-content h1{
    font-family: 'playwrite NZ';
    font-size: 40px;
    font-weight: 600;
    color: var(--Heading-color);
}
.footer-brand-content p{
    font-family: 'poppins';
    color: var(--para-color-white);
    margin: 20px 0;

}
.footer-social{
    margin-top: 40px;
}
.fa-brands{
    margin-right:  40px;
    font-size: 20px;
}
.footer-link-container{
    display: flex;
    justify-content: space-between;
}
.footer-link-container{
    margin-top: 60px;

}
.footer-link-content{
    margin-left: 150px;
}
.footer-link-content h3{
    font-family: 'playwrite NZ';
    font-size: 20px;
    font-weight: 600;
    color: var(--Heading-color);
    margin-bottom: 30px;
}

.footer-link-content ul{
    display: grid;
    row-gap: 14px;
    font-size: 16px;
    font-family: 'poppins';
}
.footer-link-content li a{
    color: var(--para-color-white);
    transition: color .3s;
    position: relative;
}
.footer-link-content li a::after{
    content: "";
    background-color: var(--Heading-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: .2s;
}
.footer-link-content li a:hover::after{
    width: 100%;
    background-color: var(--average-color);
    
}

.footer-link-content li a:hover{
    color: var(--average-color);

}
.footer-copyright-content p{
    font-family: 'montserrat';
    margin-bottom: 20px;
}
@media only screen and (max-width: 1300px) 
{
    .footer-copyright-content{
        text-align: center;
    }
    .email-container{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .email-content{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .Footer-content{
        flex-direction: column;
    }
    .footer-brand-container{
        /* width: 100%; */
        width: 70%;
        margin: 20px auto;
        text-align: center;
        
    }
    .footer-link-container{
        /* width: 100%; */
        width: 70%;
        margin: 20px auto;
        text-align: center;

        /* padding:0; */
    }
    .footer-link-container{
        display: flex;
        justify-content: space-between;
    }
    .footer-link-container{
        margin-top: 60px;
    
    }
    .footer-link-content{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 700px)
{
    .email-container{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .email-input input{
        width: 300px;
    }
    .email-input button{
        width: 100px;
    }
    
    .Footer-content{
        flex-direction: column;
    }
    .footer-brand-container{
        /* width: 100%; */
        width: 100%;
        margin: 20px auto;
        text-align: center;
        
    }
    .footer-link-container{
        /* width: 100%; */
        width: 100%;
        margin: 20px auto;
        text-align: center;
}
}
@media only screen and (max-width: 500px) {
    .Footer-container{
        width: 100%;
        padding: 10px;
    }
    .email-container {
        font-size: 15px;
    }

    .email-input input {
        font-size: 13px;
    }

    .email-input button {
        font-size: 13px;
    }

    .footer-brand-content h1 {
        font-size: 30px;
    }

    .footer-brand-content p {
        font-size: 14px;
    }

    .footer-link-content h3 {
        font-size: 16px;
    }

    .footer-link-content ul {
        font-size: 14px;
    }

    .footer-copyright-content p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 400px) {
    .email-input input{
        width: 260px;
    }
    .email-container {
        font-size: 14px;
    }

    .email-input input {
        font-size: 12px;
    }

    .email-input button {
        font-size: 12px;
    }

    .footer-brand-content h1 {
        font-size: 28px;
    }

    .footer-brand-content p {
        font-size: 13px;
    }

    .footer-link-content h3 {
        font-size: 15px;
    }

    .footer-link-content ul {
        font-size: 13px;
    }

    .footer-copyright-content p {
        font-size: 11px;
    }
}
@media only screen and (max-width: 300px) {
    .email-container {
        font-size: 12px;
    }

    .email-input input {
        font-size: 10px;
    }

    .email-input button {
        font-size: 10px;
    }

    .footer-brand-content h1 {
        font-size: 24px;
    }

    .footer-brand-content p {
        font-size: 12px;
    }

    .footer-link-content h3 {
        font-size: 14px;
    }

    .footer-link-content ul {
        font-size: 12px;
    }

    .footer-copyright-content p {
        font-size: 10px;
    }
}

